<section class="groups">
    <h1 class="title">Groups</h1>

    <div class="body">
        <div class="table-container">
            <% @groups.each_with_index do |group, i| %>
                <table class="table">
                    <tr>
                        <th>Group <%= i + 1 %></th>
                    </tr>
                    <% group.each do |name| %>
                        <tr>
                            <td><%= name %></td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
        </div>

        <div class="submit">
            <button><a href="<%= generate_groups_participants_url %>">Mix It Up! <i class="fas fa-random"></i></a></button>
        </div>
    </div>
</section>