<section class="participants">
    <h1 class="title">Add Participants</h1>

    <div class="body">
        <p>Please enter names of participants separated by new lines.</p>
        <form action="<%= participants_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-textarea">
                <textarea name="participant[name]" id="participants" cols="30" rows="10"></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>